- @users.each do |user|
  %h2
    = user.id
  %div
    = user.name
  %div
    = user.group
  %a{href: "/users/#{user.id}"}
    詳細を見る
  %a{href: "/users/#{user.id}", method: "delete"}
  %hr

%form{action: "/users", method: "post"}
  %p
    Name:
    %input{name: "name", size: "40", type: "text"}
  %p
    Group:
    %input{name: "group", size: "40", type: "text"}
  %p
    %input{type: "submit", value: "submit"}
    %input{type: "reset", value: "reset"}

%a{href: "/"}
  トップに戻る
